.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

nav{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

nav .logo{
    margin-left: 120px;
}

nav .menu{
    border: 1px solid #ccc;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: bold;
    font-weight: 550;
}

nav .btn-navbar{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    margin-right: 120px;
}

.btn-navbar:hover{
    color: rgb(49, 49, 49);
    background-color: lightgreen;
}

#banner{
    width: 1920px;
    height: 920px;
    background:url(../assets/hero-bg.png) ;
    background-size: 1920px 920px;
    background-repeat: no-repeat;
    padding: 230px;
    /* justify-content: center; */
    align-items: center;
}

#banner .banner-container{
    width: 1460px;
    height: 500px;

    border: 1px solid #e90c0c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .banner-container .banner-content{
    font-size: 16px;
    font: 500;
    text-align: center;
}

/* Early Access Button */

.btn-banner-0{
    font-size: 16px;
    color: #30b868;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 20px;
}

.banner-content h1{
    color: #ffffff;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
}

.green{
    color: rgba(48, 184, 104, 1);
}

.banner-content p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-container .btn-banner-1{
    color: #ffffff;
    background-color: #30b868;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    align-items: center;
}

.banner-container .btn-banner-2{
    color: #ffffff;
    background-color: transparent;
    width: 251px;
    height: 52px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
}