.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

nav{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

nav .logo{
    margin-left: 120px;
}

nav .menu{
    border: 1px solid #ccc;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: bold;
    font-weight: 550;
}

nav .btn-navbar{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    margin-right: 120px;
}

.btn-navbar:hover{
    color: rgb(49, 49, 49);
    background-color: lightgreen;
}

#banner{
    width: 1920px;
    height: 465px;
    background:url(../assets/hero-bg.png) ;
    background-size: 1920px 920px;
    background-repeat: no-repeat;
    padding: 230px;
    /* justify-content: center; */
    align-items: center;
}

#banner .banner-container{
    width: 1460px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .banner-container .banner-content{
    font-size: 16px;
    font: 500;
    text-align: center;
}

/* Early Access Button */

.btn-banner-0{
    font-size: 16px;
    color: #30b868;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 20px;
}

.banner-content h1{
    color: #ffffff;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
}

.green{
    color: rgba(48, 184, 104, 1);
}

.banner-content p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-container .btn-banner-1{
    color: #ffffff;
    background-color: #30b868;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    align-items: center;
}

.banner-container .btn-banner-2{
    color: #ffffff;
    background-color: transparent;
    width: 251px;
    height: 52px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
}

#note{
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.note-container h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.section-Header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.note-box{
    display: flex;
    margin-top: 44px;
    gap: 25px;
}

.note-box .note-card {
    padding: 30px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
    box-shadow: 0px 6px 50px #00000063;
    max-width: 270px;
}

.note-card img{
    max-width: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #001931;
}

.note-card p {
    font-size: 16px;
    line-height: 30px;
    color: #627382;
    justify-content: center;
}

.note-card img{
    max-width: 50px;
    border: none;
    background: rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 30px;
}

#second-brain{
    width: 1920px;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding: 230px;
}

#second-brain .second-brain-container{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.second-brain-container .content h4{
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
}

.second-brain-container .content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.second-brain-container .content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}