.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;

}

nav .logo{
    margin-left: 120px;
}

nav .menu{
    border: 1px solid #ccc;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: bold;
    font-weight: 550;
}

nav .btn-navbar{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    margin-right: 120px;
}

.btn-navbar:hover{
    color: rgb(49, 49, 49);
    background-color: lightgreen;
}

